- name: Create base ubuntu {{ item.version_name }} container
  vars:
    base_container_name: "ubuntu-{{ item.version_name }}"
    base_container_recipe: "{{ common_container_recipe_dir }}/{{ base_container_name }}.def"
    base_container_image: "{{ common_container_dir }}/{{ base_container_name }}.sif"
  tags:
    - never
    - "ubuntu-{{ item.version_name }}"
  block:
    - name: Copy recipe {{ base_container_recipe }}
      template:
        src: "common/ubuntu.def"
        dest: "{{ base_container_recipe }}"
    - name: Build container {{ base_container_image }}
      command: "{{ singularity }} build {{ base_container_image }} {{ base_container_recipe }}"
      args:
        creates: "{{ base_container_image }}"
      become: true
      environment:
        SINGULARITY_TMPDIR: "{{ lookup('env','SINGULARITY_TMPDIR') | default('/dev/shm') }}"

- name: Create ubuntu {{ item.version_name }} compile container
  vars:
    base_container_name: "ubuntu-{{ item.version_name }}"
    base_container_image: "{{ common_container_dir }}/{{ base_container_name }}.sif"
    container_name: "ubuntu-{{ item.version_name }}-compile"
    container_recipe: "{{ common_container_recipe_dir }}/{{ container_name }}.def"
    container_image: "{{ common_container_dir }}/{{ container_name }}.sif"
  tags:
    - never
    - "ubuntu-{{ item.version_name }}-compile"
  block:
    - name: "Check for existence of {{ base_container_image }} container"
      stat:
        path: "{{ base_container_image }}"
      register: base_container_exists
    - name: "Missing {{ base_container_image }}"
      fail:
        msg: "The container {{ base_container_image }} is missing."
      when: not base_container_exists.stat.exists
    - name: Create container
      when: base_container_exists.stat.exists
      block:
        - name: Copy recipe  {{ container_recipe }}
          template:
            src: "common/ubuntu-compile.def"
            dest: "{{ container_recipe }}"
        - name: Build container {{ container_image }}
          command: "{{ singularity }} build {{ container_image }} {{ container_recipe }}"
          args:
            creates: "{{ container_image }}"
          become: true
          environment:
            SINGULARITY_TMPDIR: "{{ lookup('env','SINGULARITY_TMPDIR') | default('/dev/shm') }}"
