- name: Create beast {{ item.beast_version }} container
  vars:
    beast_version: "{{ item.beast_version }}"
    beast_url: "{{ item.beast_url }}"
    beast_checksum: "{{ item.beast_checksum }}"
    beagle_version: "{{ item.beagle_version }}"
    beagle_url: "{{ item.beagle_url }}"
    beagle_checksum: "{{ item.beagle_checksum }}"
    cuda_install: "{{ item.cuda_install }}"
    cuda_version: "{{ item.cuda_version }}"
    base_container_image: "{{ common_container_dir }}/{{ item.base_container_name }}.sif"
    container_name: "beast{{  beast_version }}"
    container_recipe: "{{ bio_container_recipe_dir }}/{{ container_name }}.def"
    container_image: "{{ bio_container_dir }}/{{ container_name }}.sif"
    beast_module_dir: "{{ bio_modules }}/beast"
  tags:
    - "beast{{ item.beast_version }}"
    - never
  block:
    - name: "Check for existence of {{ base_container_image }} container"
      stat:
        path: "{{ base_container_image }}"
      register: base_container_exists
    - name: "Missing {{ base_container_image }}"
      fail:
        msg: "The container {{ base_container_image }} is missing."
      when: not base_container_exists.stat.exists
    - name: Create beast {{ beast_version }} container
      when: base_container_exists.stat.exists
      block:
        - name: Download beast {{ beast_version }}
          get_url:
            url: "{{ beast_url }}"
            dest: "{{ bio_src }}/BEASTv{{ beast_version }}.tgz"
            checksum: "{{ beast_checksum }}"
        - name: Download beagle {{ beagle_version }}
          get_url:
            url: "{{ beagle_url }}"
            dest: "{{ bio_src }}/beagle_v{{ beagle_version }}.tar.gz"
            checksum: "{{ beagle_checksum }}"
        - name: Copy recipe  {{ container_recipe }}
          template:
            src: "bio/beast.def"
            dest: "{{ container_recipe }}"
        - name: Build container {{ container_image }}
          command: "{{ singularity }} build {{ container_image }} {{ container_recipe }}"
          args:
            creates: "{{ container_image }}"
          become: true
#          environment:
#            SINGULARITY_TMPDIR: "/dev/shm"

    - name: Install beast {{ container_name }} module
      block:
        - name: Check module dir
          file:
            path: "{{ beast_module_dir }}"
            state: directory
            mode: u=rwx,g=rwx,o=rx
        - name: Install beast module file
          template:
            src: bio/beast.lua
            dest: "{{ beast_module_dir }}/{{ container_name }}.lua"
