---
# tasks file for containers

- name: Create PopGen Containers
  vars:
    popgen_versions:
      - {
        base_container_name: RStudio1.2.5042-R4.0.0,
        version_number: 0.1,
        arlecore: {
          version: 3.5,
          url: "http://cmpg.unibe.ch/software/arlequin35/linux/arlecore_linux.zip",
          checksum: 79d7ce0c126c32f88a66290aabd29e0b2e5b2d8c46cbcf02ef95ac7cbb91ead8,
        },
        beast: {
          version: 1.8.4,
          url: "https://github.com/beast-dev/beast-mcmc/releases/download/v1.8.4/BEASTv1.8.4.tgz",
          checksum: c14e93976008463108aefa34ecc23287ab70703caccf4962e36e295207120d78,
        },
        plink2: {
          version: 2.00a2.3,
          url: "https://github.com/chrchang/plink-ng/releases/download/v2.00a2.3/plink2_linux_x86_64.zip",
          checksum: 3fa20a2058df542e928b11d715cc314c01d7c5961525b55fd17a088e6caa9cc9,
        },
        bcftools: {
          version: 1.10.2,
          url: "https://github.com/samtools/bcftools/releases/download/1.10.2/bcftools-1.10.2.tar.bz2",
          checksum: f57301869d0055ce3b8e26d8ad880c0c1989bf25eaec8ea5db99b60e31354e2c,
        },
        admixture: {
          version: 1.3.0,
          url: "http://dalexander.github.io/admixture/binaries/admixture_linux-1.3.0.tar.gz",
          checksum: 353e8b170c81f8d95946bf18bc78afda5d6bd32645b2a68658bd6781ff35703c,
        },
        shapeit: {
          version: 2.17,
          url: "https://mathgen.stats.ox.ac.uk/genetics_software/shapeit/shapeit.v2.r904.glibcv2.17.linux.tar.gz",
          checksum: a5c3445c82fa45b1fa604582f003a491ecce8de6316e210be831127da09ea9e6,
        },
        eigensoft: {
          version: 7.2.1,
          url: "https://github.com/DReichLab/EIG/archive/v7.2.1.tar.gz",
          checksum: f09a46ec4b83c5062ec71eaca48a78f2373f1666fe23cbf17757150a679c8650,
        },
        finestructure: {
          version: 2.1.3,
          url: "https://people.maths.bris.ac.uk/~madjl/finestructure/fs-2.1.3.tar.gz",
          checksum: f771ee6795b2ce6a5032412b3f856598c3c37308f722ddfcb62174baaf7779f2,
        },
        beagle: {
          version: 3.1.2,
          url: "https://github.com/beagle-dev/beagle-lib/archive/v3.1.2.tar.gz",
          checksum: dd872b484a3a9f0bce369465e60ccf4e4c0cd7bd5ce41499415366019f236275,
        },
      }
  include_tasks:
    file: PopGen_suite.yaml
  loop: "{{ popgen_versions }}"
  tags:
    - never
    - popgen

- name: Create VEP container
  include_tasks:
    file: vep.yaml
  tags:
    - never
    - vep

- name: Create bcbio container
  vars:
    base_container_name: ubuntu-bionic-compile
    base_container_version_name: bionic
    singularity: "/software/common/singularity/3.9.1/bin/singularity"
    bcbio_tools_path: "{{ bio_dir }}/bcbio_nextgen_tools"
    bcbio_genome_path: "{{ bio_dir }}/bcbio_nextgen_genomes"
  include_tasks:
    file: bcbio.yaml
  tags:
    - never
    - bcbio_container

- name: Create beast Containers
  vars:
    beast_versions:
      - {
        base_container_name: ubuntu-bionic-compile,
        base_container_version_name: bionic,
        beast_version: "1.10.4",
        beast_url: "https://github.com/beast-dev/beast-mcmc/releases/download/v1.10.4/BEASTv1.10.4.tgz",
        beast_checksum: "sha256:be652c4d55953f7c6c7a9d3eb3de203c77dc380e81ad81cfe0492408990c36a8",
        beagle_version: "3.1.2",
        beagle_url: "https://github.com/beagle-dev/beagle-lib/archive/refs/tags/v3.1.2.tar.gz",
        beagle_checksum: "sha256:dd872b484a3a9f0bce369465e60ccf4e4c0cd7bd5ce41499415366019f236275",
        cuda_version: "10.2",
        cuda_install: "/software/common/src/cuda_10.2.89_440.33.01_linux.run"
      }
      - {
        base_container_name: ubuntu-bionic-compile,
        base_container_version_name: bionic,
        beast_version: "1.10.5",
        beast_url: "https://github.com/beast-dev/beast-mcmc/releases/download/v10.5.0/BEAST_X_v10.5.0.tgz",
        beast_checksum: "sha256:b4726b4f3b8b7e627df334a7eb52be1a95dca936e73030beba2b9929f9918f8c",
        beagle_version: "4.0.1",
        beagle_url: "https://github.com/beagle-dev/beagle-lib/archive/refs/tags/v4.0.1.tar.gz",
        beagle_checksum: "sha256:9d258cd9bedd86d7c28b91587acd1132f4e01d4f095c657ad4dc93bd83d4f120",
        cuda_version: "10.2",
        cuda_install: "/software/common/src/cuda_10.2.89_440.33.01_linux.run"
      }
  include_tasks:
    file: beast.yaml
  loop: "{{ beast_versions }}"
  tags:
    - never
    - beast

- name: Create ClinSV Containers
  vars:
    versions:
      - {
          version_number: "1.0.0",
          docker_source: "mrbradley2/clinsv:v1.0",
          reference_data: "https://nci.space/_projects/clinsv_b38/refdata-b38_v1.0.tar"
      }
  include_tasks:
    file: ClinSV.yaml
  loop: "{{ versions }}"
  tags:
    - never
    - ClinSV

- name: Create GATK Containers
  vars:
    versions:
      - {
          version_number: "4.2.6.1",
          docker_source: "broadinstitute/gatk:4.2.6.1",
      }
  include_tasks:
    file: gatk.yaml
  loop: "{{ versions }}"
  tags:
    - never
    - gatk

- name: Create AlphaFold Containers
  vars:
    versions:
      - {
          version_number: "2.3.2",
          alphafold_repo_url: "https://github.com/deepmind/alphafold.git",
          alphafold_repo_tag: "v2.3.2"
      }
  include_tasks:
    file: alphafold.yaml
  loop: "{{ versions }}"
  tags:
    - never
    - alphafold

- name: Create proteowizard container
  vars:
    versions:
      - {
          version_number: "3.0.22167",
          docker_source: "chambm/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.22167-d016184"
      }
  include_tasks:
    file: proteowizard.yaml
  loop: "{{ versions }}"
  tags:
    - never
    - proteowizard

- name: Create trycycler container
  vars:
    versions:
      - {
          version_name: "biocontainers",
          version_number: "0.5.4--pyhdfd78af_0",
          docker_source: "quay.io/biocontainers/trycycler"
      }
      - {
          version_name: "staphb",
          version_number: "0.5.4",
          docker_source: "quay.io/staphb/trycycler"
      }
  loop: "{{ versions }}"
  include_tasks:
    file: trycycler.yaml
  tags:
    - never
    - trycycler

- name: Create TRIBES container
  vars:
    versions:
      - {
          version_number: "0.2",
          url: "https://github.com/ilifu/TRIBES/releases/download/v0.2.0-singularity/tribes.sif",
          checksum: "sha512:89ce1df64f1ad8e230d0a7d84a1749c1ff4ab1e71f36622a70939c3cbf2a346a5713a97d5e85270cced2bcd72fb31e71b3398be7f3a6fcfc860eb9a779b6fc3e"
      }
  loop: "{{ versions }}"
  include_tasks:
      file: TRIBES.yaml
  tags:
    - never
    - TRIBES

- name: Create DIANN Containers
  vars:
    versions:
      - {
        base_container_name: ubuntu-bionic-compile,
        base_container_version_name: bionic,
        version_number: "1.8.1",
        deb_url: "https://github.com/vdemichev/DiaNN/releases/download/1.8.1/diann_1.8.1.deb",
      }
  include_tasks:
    file: DIANN.yaml
  loop: "{{ versions }}"
  tags:
    - never
    - diann

- name: Create pggb container
  vars:
    versions:
      - {
        tag: '20240928233843e8dd3f',
          }
      - {
          tag: '202410160258499fff88',
      }
  include_tasks:
    file: pggb.yaml
  loop: "{{ versions }}"
  tags:
    - never
    - pggb

- name: Create SNVStory container
  include_tasks:
    file: snvstory.yaml
  tags:
    - never
    - snvstory

- name: Create msPIPE container
  vars:
    versions:
      - {
        version_number: "2.1",
        tag: "v2.1",
#        docker_source: "jkimlab/mspipe:v2.1",
      }
  include_tasks:
    file: mspipe.yaml
  loop: "{{ versions }}"
  tags:
      - never
      - mspipe

- name: Create Spectronaut container
  vars:
    versions:
      - {
          base_container_name: ubuntu-noble-compile,
          base_container_version_name: noble,
          version_number: "20.0",
          deb_url: "https://files.biognosys.com/058_Spectronaut/Installer/SN20/Spectronaut_20.0.250602.92449.deb",
          checksum: "sha512:5ec63de0966a8c021eded8d7724c8ca841d4f77e7b5a885cbf05f104ea168d9bd3a150c290bd98eceed29702fec4af9bba2e10d4373ae8e5fdd6c06d096e7b76",
          dotnet_version: "8.0"

      }
  include_tasks:
    file: spectronaut.yaml
  loop: "{{ versions }}"
  tags:
    - never
    - spectronaut

