---
- name: Install mmseqs2 {{ item.version_number }}
  vars:
    mmseqs2_dir: "{{ bio_dir }}/mmseqs2"
    mmseqs2_module_dir: "{{ bio_modules }}/mmseqs2"
    version_number: "{{ item.version_number }}"
    git_repo: "{{ item.git_repo }}"
    git_tag: "{{ item.git_tag }}"
    unzip_dir: "/dev/shm/mmseqs2-{{ version_number }}"
    install_dir: "{{ mmseqs2_dir }}/{{ version_number }}"
  tags:
    - never
    - mmseqs2{{ item.version_number }}
  block:
    - name: Clone mmseqs2 repository
      git:
        repo: "{{ git_repo }}"
        dest: "{{ unzip_dir }}"
        version: "{{ git_tag }}"
        force: yes

    - name: Create mmseqs2 directory
      file:
        path: "{{ install_dir }}"
        state: directory
        mode: "ug=rwx,o=rx"
        recurse: true

    - name: Create build directory
      file:
        path: "{{ unzip_dir }}/build"
        state: directory
        mode: "ug=rwx,o=rx"

    - name: Configure mmseqs2 with cmake
      command: "cmake -DCMAKE_BUILD_TYPE=RELEASE -DCMAKE_INSTALL_PREFIX={{ install_dir }} .."
      args:
        chdir: "{{ unzip_dir }}/build"
        creates: "{{ unzip_dir }}/build/Makefile"

    - name: Build mmseqs2
      command: "make -j{{ ansible_processor_vcpus | default(2) }}"
      args:
        chdir: "{{ unzip_dir }}/build"
        creates: "{{ unzip_dir }}/build/src/mmseqs"

    - name: Install mmseqs2
      command: "make install"
      args:
        chdir: "{{ unzip_dir }}/build"
        creates: "{{ install_dir }}/bin/mmseqs"

    - name: Create mmseqs2 module directory
      file:
        path: "{{ mmseqs2_module_dir }}"
        state: directory
        mode: "ug=rwx,o=rx"

    - name: Install mmseqs2 module file
      template:
        src: bio/mmseqs2.lua
        dest: "{{ mmseqs2_module_dir }}/{{ version_number }}.lua"

    - name: Clean up build directory
      file:
        path: "{{ unzip_dir }}"
        state: absent