---
- name: Install VIP {{ item.version_number }}
  vars:
    vip_dir: "{{ bio_dir }}/VIP"
    vip_data_dir: "/software/data/bio/vip"
    vip_module_dir: "{{ bio_modules }}/vip"
    version_number: "{{ item.version_number }}"
    install_script: "{{ item.install_script }}"
    checksum: "{{ item.checksum }}"
    install_dir: "{{ vip_dir }}/{{ version_number }}"
    data_dir: "{{ vip_data_dir }}/{{ version_number }}"
  tags:
    - never
    - vip{{ item.version_number }}
  environment:
    PATH: "/software/common/apptainer/1.4.2/bin:/software/common/java/jdk-22.0.1/bin:{{ ansible_env.PATH }}"
    JAVA_HOME: "/software/common/java/jdk-22.0.1"
  block:
    - name: "Download and install VIP {{ version_number }}"
      block:
        - name: "Ensure VIP directory exists"
          file:
            path: "{{ vip_dir }}"
            state: directory
        - name: "Ensure VIP data directory exists"
          file:
            path: "{{ vip_data_dir }}"
            state: directory
        - name: "Copy VIP installer {{ install_script }}"
          copy:
            src: "bio/{{ install_script }}"
            dest: "{{ bio_src }}/{{ install_script }}"
            mode: "ugo=rx"
        - name: "Install VIP {{ version_number }} to {{ install_dir }}"
          command:
            argv:
              - "{{ bio_src }}/{{ install_script }}"
              - -d
              - "{{ data_dir }}"
              - -i
              - "{{ install_dir }}"
              - -v
              - "v{{ version_number }}"
          args:
            creates: "{{ install_dir }}/vip.sh"

    - name: Install VIP {{ version_number }} module
      block:
        - name: Check module dir {{ vip_module_dir }}
          file:
            path: "{{ vip_module_dir }}"
            state: directory
            mode: u=rwx,g=rwx,o=rx
        - name: Install VIP module file
          template:
            src: bio/vip.lua
            dest: "{{ vip_module_dir }}/{{ version_number }}.lua"

