// Nextflow configuration file

profiles {
    standard {
        process.executor = 'local'
    }

    main_small {
        process.executor = 'slurm'
        process.queue = 'Main'
        singularity.enabled = true
        process.cpus = 1
        process.memory = 4.GB
    }

    main_medium {
        process.executor = 'slurm'
        process.queue = 'Main'
        singularity.enabled = true
        process.cpus = 8
        process.memory = 64.GB
    }

    main_large {
        process.executor = 'slurm'
        process.queue = 'Main'
        singularity.enabled = true
        process.cpus = 32
        process.memory = 232.GB
    }

    highmem {
        process.executor = 'slurm'
        process.queue = 'HighMem'
        singularity.enabled = true
        process.cpus = 32
        process.memory = 500.GB
    }

    veryhighmem {
        process.executor = 'slurm'
        process.queue = 'HighMem'
        singularity.enabled = true
        process.cpus = 96
        process.memory = 1500.GB
    }

    gpu_1gpu {
        process.executor = 'slurm'
        process.queue = 'GPU'
        singularity.enabled = true
        process.cpus = 1
        process.memory = 4.GB
        process.clusterOptions = '--gres=gpu:1'
    }

    gpu_2gpu {
        process.executor = 'slurm'
        process.queue = 'GPU'
        singularity.enabled = true
        process.cpus = 1
        process.memory = 4.GB
        process.clusterOptions = '--gres=gpu:2'
    }
}
